<section id="skills" class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="reveal">
          <h2 class="section-title mb-3">Skills</h2>
          <p>
            A beginner Software Engineer with 1 year of experience in providing
            digital solutions to client problems, both students and small and
            medium businesses.
          </p>
        </div>

          <div class="skills-gallery">
            <ul class="skills-cards">
                <li class="javascript">
                  <i class="devicon-javascript-plain colored"></i>
                  <span class="tech-label">JavaScript</span>
                </li>
                <li class="python">
                  <i class="devicon-python-plain colored"></i>
                  <span class="tech-label">Python</span>
                </li>
                <li class="react">
                  <i class="devicon-react-original"></i>
                  <span class="tech-label">React</span>
                </li>
                <li class="php">
                  <i class="devicon-php-plain colored"></i>
                  <span class="tech-label">PHP</span>
                </li>
                <li class="html">
                  <i class="devicon-html5-plain colored"></i>
                  <span class="tech-label">HTML</span>
                </li>
                <li class="css">
                  <i class="devicon-css3-plain colored"></i>
                  <span class="tech-label">CSS</span>
                </li>
                <li class="bootstrap">
                  <i class="devicon-bootstrap-plain colored"></i>
                  <span class="tech-label">Bootstrap</span>
                </li>
                <li class="tailwind">
                  <i class="devicon-tailwindcss-plain colored"></i>
                  <span class="tech-label">Tailwind</span>
                </li>
                <li class="vue">
                  <i class="devicon-vuejs-plain colored"></i>
                  <span class="tech-label">Vue.js</span>
                </li>
                <li class="typescript">
                  <i class="devicon-typescript-plain colored"></i>
                  <span class="tech-label">TypeScript</span>
                </li>
                <li class="nextjs">
                  <i class="devicon-nextjs-plain colored"></i>
                  <span class="tech-label">Next.js</span>
                </li>
                <li class="webpack">
                  <i class="devicon-webpack-plain colored"></i>
                  <span class="tech-label">Webpack</span>
                </li>
                <li class="angular">
                  <i class="devicon-angularjs-plain colored"></i>
                  <span class="tech-label">Angular</span>
                </li>
                <li class="nodejs">
                  <i class="devicon-nodejs-plain colored"></i>
                  <span class="tech-label">Node.js</span>
                </li>
                <li class="express">
                  <i class="devicon-express-original"></i>
                  <span class="tech-label">Express</span>
                </li>
                <li class="mysql">
                  <i class="devicon-mysql-plain colored"></i>
                  <span class="tech-label">MySQL</span>
                </li>
                <li class="postgresql">
                  <i class="devicon-postgresql-plain colored"></i>
                  <span class="tech-label">PostgreSQL</span>
                </li>
                <li class="mongodb">
                  <i class="devicon-mongodb-plain colored"></i>
                  <span class="tech-label">MongoDB</span>
                </li>
                <li class="cplusplus">
                  <i class="devicon-cplusplus-plain colored"></i>
                  <span class="tech-label">C++</span>
                </li>
                <li class="java">
                  <i class="devicon-java-plain colored"></i>
                  <span class="tech-label">Java</span>
                </li>
                <li class="laravel">
                  <i class="devicon-laravel-plain colored"></i>
                  <span class="tech-label">Laravel</span>
                </li>
                <li class="codeigniter">
                  <i class="devicon-codeigniter-plain colored"></i>
                  <span class="tech-label">CodeIgniter</span>
                </li>
                <li class="kotlin">
                  <i class="devicon-kotlin-plain colored"></i>
                  <span class="tech-label">Kotlin</span>
                </li>
                <li class="csharp">
                  <i class="devicon-csharp-plain colored"></i>
                  <span class="tech-label">C#</span>
                </li>
                <li class="figma">
                  <i class="devicon-figma-plain colored"></i>
                  <span class="tech-label">Figma</span>
                </li>
                <li class="canva">
                  <i class="devicon-canva-plain colored"></i>
                  <span class="tech-label">Canva</span>
                </li>
              </ul>

            </div>
            <div class="skills-drag-proxy"></div>
          </div>

      </div>
    </div>
  </div>
</section>
    <div class="section-divider"></div>




